ul.UTL.Module
	li.current: span Current Bid : 
		span.topBid 0
	li.bid: input(type="number", min="1", value="1", name="bidAmount").bidAmount
	li.place: button(data-action="submitBid").bidSubmit.lameButton Place Bid
	li.count: span Your points: