//- p You are DJ, don't suck
//- p Pick a song:
ol#playlist.Module.FLC
  {! for (var i = 0, c = tracks.length; i < c; i++) { var track = tracks[i]; !}
  li(data-trackkey='{!= track.key !}')
    span.play
    span.title {!= track.artist !} - {!= track.name !}
    span.time {!= track.duration !}
  {! } !}