ol#playlist.Rnd.Module.FLC
  {! for (var i = 0, c = tracks.length; i < c; i++) { var track = tracks[i]; !}
  li
    span.play(data-trackkey='{!= track.key !}')
    span.title {!= track.artist !} - {!= track.name !}
    span.time {!= utils.formatTime(track.duration) !}
  {! } !}
