div.left
  .band-info
    p
      span#album-image
        img(src="{!= track.icon !}")
      span#song-name {!= track.name !}
      br
      span.artist
        | By:
        span#band-name {!= track.artist !}

div.right
  ul.UTL
    li
      span Score: 
        span.score 0
    li.noDJ
      a.like.lameButton(title="I like this") :D
    li.noDJ
      a.hate.lameButton(title="I fucking hate this") D: