/* LAYOUT */
html { background: url('../images/bg.jpg') repeat 0 0; }
body { }

h2 { font-size: 26px; font-weight: bold; }

#container { width: 960px; height: 100%; margin: 0 auto 20px; overflow: hidden; }

#header { width: 100%; height: 75px; }

#meta { position: relative; float: left; width: 119px; height: 142px; margin-right: 232px; }

#section { float: left; width: 720px; }
#aside { float: right; width: 220px; }

#mainLogin { margin-top: 80px; }
	#mainLogin p { margin: 30px 0; text-align: center; }

.primary { margin-right: 10px; padding-top: 26px; }
	.primary dl { width: 100%; }
		.primary dl dt, .primary dl dd { width: auto; height: 52px; margin-right: 20px; padding-left: 20px; line-height: 52px; }
			.primary dl dt { display: inline; float: left; padding-left: 0; }
	.primary ul li { width: 165px; text-align: center; }
		.primary ul li.guest { padding-top: 8px; }
		.primary ul li.authed { padding-top: 14px; }

.social { float: left; padding-top: 34px; }
	.social ul { width: 50px; }	
		.social ul li { display: inline; float: left; width: auto; height: 100%; margin-right: 26px; }

#content { position: relative; z-index: 3; background: transparent; width: 960px; height: auto; margin-top: 10px; }

#container label.error { display: none; }

#crowd { position: fixed; bottom: -65px; background-color: transparent; width: 110%; height: 312px; margin-top: -310px; }
	#crowd li { position: absolute; background-image: url('../images/crowd.png'); background-repeat: no-repeat; width: inherit; height: 312px; border: none; }
    #crowd .deep { z-index: 2; left: -40px; background-position: 0 bottom; }
    #crowd .shallow { z-index: 1; left: -100px; bottom: 0; background-position: 0 top; }

.create input { border: none; width: 300px; height: 40px; line-height: 20px; }

#nowPlaying, #selectedTrack, #dj { display: none; padding: 10px; background: rgba(255,255,255,.9); }
	#nowPlaying .left, #selectedTrack .left { display: inline; float: left; }
		#nowPlaying .left img, #selectedTrack .left img { width: 100px; height: 100px; }
	#nowPlaying .right, #selectedTrack .right { float: right; width: 200px; text-align: right; background: transparent; }
		#nowPlaying .right ul, #nowPlaying .right ul li, #selectedTrack .right ul, #selctedTrack .right ul li { background: transparent; }
		#nowPlaying ul li, #selectedTrack ul li { padding: 7px 0; border: none; }

#playlist { width: 720px; }
	#playlist li span.play { visibility: hidden; position: relative; display: inline-block; top: 10px; left: -28px; width: 41px; height: 41px; background: url(../images/play.png) no-repeat 0 0; cursor: pointer; }
	#playlist li:hover span.play { visibility: visible; }
	#playlist li span.title { display: inline-block; max-width: 382px; word-wrap: break-word; }
	#playlist li span.time { float: right; padding-right: 20px; }

	#chat, #userlist, #bidder { float: right; width: 220px; }
	#chat input { width: 200px; padding: 6px 10px; border: none; }
	#chat ul { border: 1px solid #DDE0E5; }
		#chat ul li { padding: 6px 4px; text-align: left; }
			#chat ul li span.user { font-weight: bold; }
	#chat .chatContainer { height: 200px; background: #fff; overflow: auto; }

#search { float: none; margin-top: 10px; }
	#search input { width: 674px; }
	#search ul { margin-top: -3px; background: transparent; }
		#search ul li { padding: 6px 10px; }

#userlist ul li { padding: 6px; }

#bidder ul li { padding: 6px; }
	#bidder ul li.current { padding: 6px 0; text-align: center; }
	#bidder ul li.bid input { width: 205px; text-align: left; }
	#bidder ul li.place, #bidder ul li.count { text-align: center; }

#listener { padding: 20px; background: rgba(255,255,255,.9); }

#dj { width: 700px; }
	#dj p { font-size: 16px; }

.Rooms { }
	.Rooms li { padding: 10px; }
	.Rooms a { float: left; }
	.Rooms .users { float: right; }

.band-info { /*position: absolute; left: 60px; top: 5px; width: 370px;*/ }
	.band-info p { line-height: 50px; font-size: 20px; width: 370px; overflow: hidden; white-space: nowrap; display: block; }

		#album-image { float: left; margin-right: 10px; }