/* TYPOGRAPHY */
body { font-family: "Helvetica Neue", helvetica, arial, sans-serif; color: #000; }
a { color: #000; text-decoration: none; cursor: pointer; }
a img { border: none; }
a:hover { text-decoration: none; }
input { font-size: 14px; color: #000; outline: none; }

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.Chunk { font-family: ChunkFiveRegular; }
/* =Global: Headings */
.Heading1 { font-size: 80px; }
.Heading2 { font-size: 36px; }
.Heading3 { font-size: 30px; }
.Heading4 { font-size: 24px; }
.Heading5 { font-size: 18px; }
.Heading6 { font-size: 14px; }

.Note { font-size: 11px; }
p { font-size: 12px; }
ol { font-size: 18px; line-height: 48px; color: #CDD0D5; }
.title { font-size: 14px; font-weight: bold; line-height: 18px; color: #2C3034; }