- scripts.push("/ui/shared/scripts/pages/home.js")

div#mainLogin
  p: a(href="/oauth/login").hugeFuckingButton Login with Rdio<sup>&reg</sup>
  p: a(href="/guest").lameButton Continue anyways
  p <a href="http://click.linksynergy.com/fs-bin/click?id=FkOvMBnEzh8&amp;offerid=221756.12&amp;type=4&amp;subid=0"><img alt="Unlimited Music, Everywhere. Try Rdio for Free." border="0" src="http://rdio.com/media/images/affiliate/generic_type3_468x60.jpg"></a><img border="0" width="1" height="1" src="http://ad.linksynergy.com/fs-bin/show?id=FkOvMBnEzh8&amp;bids=221756.12&amp;type=4&amp;subid=0"></p>