- scripts.push("https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js");
- scripts.push("/socket.io/socket.io.js")
- scripts.push("/ui/shared/scripts/external/reqwest.js")
- scripts.push("/ui/shared/scripts/external/str.js")
- scripts.push("/ui/shared/scripts/services/rdio.js")
- scripts.push("/ui/shared/scripts/controllers/player.js")
- scripts.push("/ui/shared/scripts/controllers/chat.js")
- scripts.push("/ui/shared/scripts/controllers/userlist.js")
- scripts.push("/ui/shared/scripts/controllers/room.js")
- scripts.push("/ui/shared/scripts/pages/room.js")

div#rdioPlayer
div#chat
  include includes/chat
div#userlist
  include includes/userlist
div#nowPlaying
div#dj

script#tmpDJ(type="text/template")
  include includes/dj
script#tmpNowPlaying(type="text/template")
  include includes/nowplaying

script
  window.playbackToken = "#{playbackToken}";
  window.firstName = "#{user.firstName}";
  //tmp vars
  window.room = 'so loud it makes yer ears bleed';
