- scripts.push("https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js");
- scripts.push("nowjs/now.js")
- scripts.push("/ui/shared/scripts/external/reqwest.js")
- scripts.push("/ui/shared/scripts/external/str.js")
- scripts.push("/ui/shared/scripts/services/rdio.js")
- scripts.push("/ui/shared/scripts/controllers/player.js")
- scripts.push("/ui/shared/scripts/controllers/room.js")
- scripts.push("/ui/shared/scripts/pages/room.js")

- if(isGuest)
  p You are logged in as a guest. You should really, really 
    a(href="/oauth/login") Login
    |  to fully experience this shit.

- else
  p Welcome to knockout radio. You are fucking logged in.

  a(href="/logout") Logout this shit

  h1 #{user.firstName}

div#rdioPlayer
div#nowPlaying
div#dj

script#tmpDJ(type="text/template")
  include includes/dj
script#tmpNowPlaying(type="text/template")
  include includes/nowplaying

script
  window.playbackToken = "#{playbackToken}";
  //tmp vars
  window.room = 'so loud it makes yer ears bleed';
