- scripts.push("/ui/shared/scripts/controllers/rooms.js")

div.create.Module.FLC
  input(type='text', data-element='createBox', placeholder="Enter your desired room name here")
  |  
  button(data-action='create').lameButton Create

h2 Rooms
ul.Module.Rooms.FLC
  - for (var slug in rooms.all())
    - var room = rooms.getFromSlug(slug)
    li.FLC
      a(href="/rooms/#{slug}") #{room.name} 
      span.users #{room.userCount} Users
